Repository: http://svn.tools.ietf.org/svn/src/postconfirm/
Version: 0.39
Section: text
Priority: optional
Maintainer: Henrik Levkowetz <henrik@merlot.tools.ietf.org>
Package: postconfirm
Architecture: any
Depends: 
Ietf: critical
Url:
Date: 2010-03-20 01:18:58
Section: admin
Description: Email confirmation system
        Postconfirm requests and verifies one-time email sender confirmation.
	It is intended as a front-end to mailing lists, and provides
	funcitonality which is a subset of TMDA, but is adapted to high-volume
	usage. Since the allowlist lookup is done by a long-running server
	part, the overhead of doing a verification that a poster has a
	confirmed address is much smaller than for TMDA, by a factor 1000 or
	more in cpu load and a factor 20 or more in memory footprint.
